<%= form_with model: @flashcard do |form| %>
  <% if @flashcard.errors.any? %>
    <div>
      <ul>
      <% @flashcard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :種類 %><br>
    <%= form.text_field :category %>
  </div>
  <div>
    <%= form.label :問題 %><br>
    <%= form.text_area :question %>
  </div>
  <div>
    <%= form.label :答え %><br>
    <%= form.text_area :answer %>
  </div>
  <div>
    <%= form.label :解説 %><br>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>