<%= form_with model: @flashcard do |form| %>
  <% if @flashcard.errors.any? %>
    <div>
      <ul>
      <% @flashcard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :category %><br>
    <%= form.text_field :category %>
  </div>
  <div>
    <%= form.label :question %><br>
    <%= form.text_area :question %>
  </div>
  <div>
    <%= form.label :answer %><br>
    <%= form.text_area :answer %>
  </div>
  <div>
    <%= form.label :discription %><br>
    <%= form.text_area :discription %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>