<div class = "container">
  <%= render "layouts/shared/header"%>

  <h1 class="mt-3">
    暗記カード
  </h1>

  <table id="table" class="mt-3 table-striped table-hover table-responsive table-lg">
    <tr>
      <th>ID</th>
      <th>種類</th>
      <th>問題</th>
      <th>答え</th>
      <th>解説</th>
      <th>復習</th>
    </tr>
    <% @flashcards.each do |flashcard| %>
    <tr>
      <td><%= flashcard.id %></td>
      <td><%= flashcard.category %></td>
      <td><%= flashcard.question %></td>
      <td><%= flashcard.answer %></td>
      <td><%= flashcard.description %></td>
      <td><%= render 'flashcards/checkbox', flashcard: flashcard %></td>
      <td><%= button_to '編集', edit_flashcard_path(flashcard), method: :get, class: 'btn btn-primary'%></td>
      <td><%= button_to "削除", flashcard_path(flashcard), method: :delete, class: 'btn btn-primary'%></td>
      
    </tr>
    <% end %>
  </table>
</div>