<div class = "container">
  <h1 class="mt-3">
  暗記カード
  </h1>
  <%= button_to '暗記カードを作成', new_flashcard_path, method: :get, class: 'btn btn-secondary' %>
  <%= button_to '学習を開始', learning_path, method: :get, class: 'btn btn-secondary' %>
  <table class="table-striped">
    <tr>
      <th>ID</th>
      <th>種類</th>
      <th>問題</th>
      <th>答え</th>
      <th>解説</th>
    </tr>
    <% @flashcards.each do |flashcard| %>
    <tr>
      <td><%= flashcard.id %></td>
      <td><%= flashcard.category %></td>
      <td><%= flashcard.question %></td>
      <td><%= flashcard.answer %></td>
      <td><%= flashcard.description %></td>
      <td><%= button_to '編集', edit_flashcard_path(flashcard), method: :get, class: 'btn btn-secondary'%></td>
      <td><%= button_to "削除", flashcard_path(flashcard), method: :delete, class: 'btn btn-secondary'%></td>
    </tr>
    <% end %>
  </table>
</div>