<div class="container mt-3">
  <div class="flashcard-header">
    <h2><%= Flashcard.model_name.human %></h2>

    <div>
      <%= search_form_for @q, url: flashcards_path do |f| %>
        <%= f.search_field :question_cont, placeholder: "問題で検索", class: "search-field" %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <table id="table" class="mt-3 table-striped table-hover table-responsive table-lg table-main">
    <tr>
      <th class="first-column"><%= Flashcard.human_attribute_name(:category) %></th>
      <th class="second-column"><%= Flashcard.human_attribute_name(:question) %></th>
      <% if @flashcards.pluck(:user_id).include?(current_user.id.to_s) %>
        <th class="third-column"></th>
      <% end %>
    </tr>
    <% @flashcards.each do |flashcard| %>
      <tr>
        <td class="first-column"><%= flashcard.category %></td>
        <td class="second-column"><%= safe_join(flashcard.question.split("\n"),tag(:br)) %></td>
        <td class="third-column">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              ...
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to '答えを確認', flashcard_path(flashcard), class:"dropdown-item" %>
              <% if current_user.id == flashcard.user.id %>
                <%= link_to '編集', edit_flashcard_path(flashcard), class:"dropdown-item" %>
                <%= link_to "削除", flashcard_path(flashcard), method: :delete, class:"dropdown-item", data: {confirm: '本当に削除してよろしいですか？'} %>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>