<h1>
flashcards
</h1>
<%= button_to 'create flashcard', {controller: 'flashcards', action: 'new'}, {method: :get} %>
<%= button_to 'start learning', {controller: 'flashcards', action: 'learning'}, {method: :get} %>
<table>
  <tr>
    <th>ID</th>
    <th>category</th>
    <th>question</th>
    <th>answer</th>
    <th>description</th>
  </tr>
  <% @flashcards.each do |flashcard| %>
  <tr>
    <td><%= flashcard.id %></td>
    <td><%= flashcard.category %></td>
    <td><%= flashcard.question %></td>
    <td><%= flashcard.answer %></td>
    <td><%= flashcard.description %></td>
    <td><%= button_to 'show', flashcard_path(flashcard), method: :get %></td>
    <td><%= button_to 'edit', edit_flashcard_path(flashcard), method: :get %></td>
    <td><%= button_to "destroy", flashcard_path(flashcard), method: :delete %></td>
  </tr>
  <% end %>
</table>