<div class="container mt-3">
  <h2>暗記カード</h2>

  <%= search_form_for @q, url: flashcards_path do |f| %>
    <%= f.label :category_cont, "種類" %>
    <%= f.search_field :category_cont, placeholder: "種類で検索" %>
    <%= f.submit "検索" %>
  <% end %>

  <table id="table" class="mt-3 table-striped table-hover table-responsive table-lg table-main">
    <tr>
      <th class="first-column">ID</th>
      <th class="second-column">種類</th>
      <th class="third-column">問題</th>
      <th class="forth-column">答え</th>
      <th class="fifth-column">解説</th>
    </tr>
    <% @flashcards.each do |flashcard| %>
    <tr>
      <td class="first-column"><%= flashcard.id %></td>
      <td class="second-column"><%= flashcard.category %></td>
      <td class="third-column"><%= flashcard.question %></td>
      <td class="forth-column"><%= flashcard.answer %></td>
      <td class="fifth-column"><%= flashcard.description %></td>
      <% if current_user.id == flashcard.user.id %>
        <td><%= button_to '編集', edit_flashcard_path(flashcard), method: :get, class: 'btn btn-primary'%></td>
        <td><%= button_to "削除", flashcard_path(flashcard), method: :delete, class: 'btn btn-primary'%></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>