
<div class = "container">
  <h1 class="mt-3">
    暗記カード
  </h1>

  <table id="table" class="mt-3 table-striped table-hover table-responsive table-lg">
    <tr>
      <th class="col-1">ID</th>
      <th class="col-2">種類</th>
      <th class="col-2">問題</th>
      <th class="col-3" >答え</th>
      <th class="col-3">解説</th>
      <th class="col-1">復習</th>
    </tr>
    <% @flashcards.each do |flashcard| %>
    <tr>
      <td class="col-1"><%= flashcard.id %></td>
      <td class="col-2"><%= flashcard.category %></td>
      <td class="col-2"><%= flashcard.question %></td>
      <td class="col-3"><%= flashcard.answer %></td>
      <td class="col-3"><%= flashcard.description %></td>
      <td class="col-1"><%= render 'checkbox', flashcard: flashcard %></td>
      <td>
        <div class="dropdown">
          <a class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item"><%= link_to '編集', edit_flashcard_path(flashcard), method: :get, class: "dropdown-item" %></a>
            <a class="dropdown-item"><%= link_to "削除", flashcard_path(flashcard), method: :delete, 
              data: {confirm: '本当に削除してよろしいですか？'}, class: "dropdown-item" %></a>
          </div>
        </div>
    </td>
    </tr>
    <% end %>
  </table>
</div>

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>