<div class="container mt-3">
  <div class="flashcard-header">
    <h2><%= Flashcard.model_name.human %></h2>

    <div>
      <%= search_form_for @q, url: flashcards_path do |f| %>
        <%= f.select :category_eq, Flashcard::CATEGORY_LIST, {include_blank: 'カテゴリーを選択'}, {class: "select-field"} %>
        <%= f.search_field :question_cont, placeholder: "問題で検索", class: "search-field" %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <table id="table" class="mt-3 table-striped table-hover table-responsive table-main">
    <tr>
      <th class="first-column"><%= Flashcard.human_attribute_name(:category) %></th>
      <th class="second-column"><%= Flashcard.human_attribute_name(:question) %></th>
      <th class="third-column"></th>
    </tr>
    <% @flashcards.each do |flashcard| %>
      <%= render partial: 'card', locals: { flashcard: flashcard } %>
    <% end %>
  </table>
</div>