<div class = "container">
  <h1 class="mt-3">
  flashcards
  </h1>
  <%= button_to 'create flashcard', {controller: 'flashcards', action: 'new'}, {method: :get} %>
  <%= button_to 'start learning', {controller: 'flashcards', action: 'learning'}, {method: :get} %>
  <table>
    <tr>
      <th class="col-1">ID</th>
      <th class="col-2">category</th>
      <th class="col-3">question</th>
      <th class="col-3">answer</th>
      <th class="col-3">description</th>
    </tr>
    <% @flashcards.each do |flashcard| %>
    <tr>
      <td class="col-1"><%= flashcard.id %></td>
      <td class="col-2"><%= flashcard.category %></td>
      <td class="col-3"><%= flashcard.question %></td>
      <td class="col-3"><%= flashcard.answer %></td>
      <td class="col-3"><%= flashcard.description %></td>
      <td><%= button_to 'show', flashcard_path(flashcard), method: :get %></td>
      <td><%= button_to 'edit', edit_flashcard_path(flashcard), method: :get %></td>
      <td><%= button_to "destroy", flashcard_path(flashcard), method: :delete %></td>
    </tr>
    <% end %>
  </table>
</div>