<div class = "container">
  <h1 class="mt-3">
    学習
  </h1>

  <table id="table" class="mt-3 table-striped table-hover table-responsive table-lg">
    <tr>
      <th>ID</th>
      <th>種類</th>
      <th>問題</th>
      <th>答え</th>
      <th>解説</th>
      <th>答えを確認</th>
    </tr>
    <% @flashcards.each do |flashcard| %>
    <tr>
      <td><%= flashcard.id %></td>
      <td><%= flashcard.category %></td>
      <td><%= flashcard.question %></td>
      <td><div class="answer"><%= flashcard.answer %></div></td>
      <td><div class="answer"><%= flashcard.description %></div></td>
      <td><input type="checkbox"></td>
    </tr>
    <% end %>
  </table>
</div>
