<div class="container">
  <h1 class="mt-3">
    学習
  </h1>

  <table id="table" class="mt-3 table-striped table-hover table-responsive table-lg learning-main">
    <tr>
      <th class="learning-first"><%= Flashcard.human_attribute_name(:category) %></th>
      <th class="learning-second"><%= Flashcard.human_attribute_name(:question) %></th>
      <th class="learning-third"><%= Flashcard.human_attribute_name(:answer) %></th>
      <th class="learning-forth"><%= Flashcard.human_attribute_name(:description) %></th>
      <th class="learning-fifth"><%= Flashcard.human_attribute_name(:answer) %>を確認</th>
      <th class="learning-sixth"></th>
    </tr>
    <% @flashcards.each do |flashcard| %>
    <tr>
      <td><%= flashcard.category %></td>
      <td><%= safe_join(flashcard.question.split("\n"),tag(:br)) %></td>
      <td><div class="answer-hidden"><%= safe_join(flashcard.answer.split("\n"),tag(:br)) %></div></td>
      <td><div class="discription-hidden"><%= safe_join(flashcard.description.split("\n"),tag(:br)) %></div></td>
      <td><input type="button" value="表示" onclick="toggleAnswerVisibility(this)" /></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            ...
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to '答えを確認', flashcard_path(flashcard), class:"dropdown-item" %>
            <% if current_user.id == flashcard.user.id %>
              <%= link_to '編集', edit_flashcard_path(flashcard), class:"dropdown-item" %>
              <%= link_to "削除", flashcard_path(flashcard), method: :delete, class:"dropdown-item", data: {confirm: '本当に削除してよろしいですか？'} %>
            <% end %>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
</div>


<script>
  function toggleAnswerVisibility(button) {
    const row = button.parentNode.parentNode;
    const answer = row.querySelector(".answer-hidden");
    const discription = row.querySelector(".discription-hidden");

    if (answer.style.visibility === "visible") {
      answer.style.visibility = "hidden";
    } else {
      answer.style.visibility = "visible";
    }
    if (discription.style.visibility === "visible") {
      discription.style.visibility = "hidden";
    } else {
      discription.style.visibility = "visible";
    }
  }
</script>