<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      【<%= Flashcard.human_attribute_name(:question) %>】<br><%= @flashcard.question.reflect_newline %>
    </div>

    <div class="card-body">
      <p class="card-title">
        【<%= Flashcard.human_attribute_name(:answer) %>】<br><%= @flashcard.answer.reflect_newline %>
      </p>
      <p class="card-text">
        【<%= Flashcard.human_attribute_name(:description) %>】<br><%= @flashcard.description.reflect_newline %>
      </p>
      <p class="card-text">
        【<%= Flashcard.human_attribute_name(:category) %>】<br><%= @flashcard.category %>
      </p>
    </div>

  </div>
</div>