<header class="header-interface navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Self Flashcard", root_path, class: "navbar-brand" %>
    <div class="header_main ml-lg-3">
      <div class="header-left">
        <%= button_to '暗記カードを作成', new_flashcard_path, method: :get, class: 'btn btn-primary' %>
        <%= button_to '学習を開始', learning_path, method: :get, class: 'btn btn-primary ms-2' %>
        <%= button_to '復習を開始', review_path, method: :get, class: 'btn btn-primary ms-2' %>
      </div>

      <div class="header-right">
        <% if user_signed_in? %>
          <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "session-text" %></p>
        <% else %>
          <p><%= link_to "ログイン", new_user_session_path, class: "session-text" %></p>
        <% end %>
      </div>
    </div>
  </div>
</header>