<nav class="header-interface navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Self Flashcard", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
        <% end %>
        <li class="nav-item ml-2"><%= button_to '暗記カードを作成', new_flashcard_path, method: :get, class: 'btn btn-primary' %></li>
        <li class="nav-item ml-2"><%= button_to '学習を開始', learning_path, method: :get, class: 'btn btn-primary' %></li>
      </ul>
    </div>
  </div>
</nav>